.btn-text {
    color: $darkBlue;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.link-icon {
    color: $mainColor;
    margin-bottom: .3rem;
    font-size: 1.6rem;
}

.btn-text:hover {
    color: $mainColor;
}

@media (max-width: 575px) {
    .btn-text {
        font-size: 1.1rem;
    }
    .link-icon {
        font-size: 1.4rem;
    }
}